// etiquetas para contenidos
main{
    // etiqueta para contenido Pagina Inicio
    .contenedor-pp{        
    height: 95vh;        
    }
    // etiquetas para contenido Pagina 1
    .contenedor-p1{
    height: 160vh;        
    }      
    // etiquetas para contenido Pagina 2
    .contenedor-p2{
    height: 80vh;       
    }
    // etiquetas para contenido Pagina 3
    .contenedor-p3{
    height: 90vh;        
    }
    // etiquetas para contenido Pagina 4
    .contenedor-p4{
    height: 30vh;
    }
}